{% extends "FOSUserBundle::layout.html.twig" %}
{% block title "Change password" %}

{% block fos_user_content %}
<div class="well">
    {{ form_start(form, {action: path('fos_user_change_password'), attr: {class: 'form-horizontal'}}) }}
        <legend>{{ block('title') }}</legend>
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.current_password, null, {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-4">
                {{ form_errors(form.current_password) }}
                {{ form_widget(form.current_password, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.new.first, null, {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-4">
                {{ form_errors(form.new.first) }}
                {{ form_widget(form.new.first, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.new.second, null, {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-4">
                {{ form_errors(form.new.second) }}
                {{ form_widget(form.new.second, {attr: {class: 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>
    {{ form_end(form) }}
</div>
{% endblock fos_user_content %}
